---
name: CI

on:
  push:
    branches:
      - main

jobs:
  semantic-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    outputs:
      version: ${{ steps.release.outputs.version }}
    steps:
      - name: Create Release
        id: release
        uses: Byrde/github-reusable-workflows/actions/semantic-release@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          should-create-release: 'true'

  build-and-publish:
    needs: semantic-release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      pull-requests: write
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: v${{ needs.semantic-release.outputs.version }}

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'sbt'

      - name: Setup SBT
        uses: sbt/setup-sbt@v1
      
      - name: Configure GitHub Packages credentials
        run: |
          mkdir -p ~/.sbt
          cat > ~/.sbt/.credentials << EOF
          realm=GitHub Package Registry
          host=maven.pkg.github.com
          user=${{ github.actor }}
          password=${{ secrets.GITHUB_TOKEN }}
          EOF
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Compile
        run: sbt compile
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Test
        run: sbt test
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build & Publish Docker image
        run: sbt -Dversion=${{ needs.semantic-release.outputs.version }} docker:publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

